target/
**/*.rs.bk
Cargo.lock
Cargo.toml.orig
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.log
*.tmp
*.bak
*.old
*.swp
*.swo
Makefile
makefile
build/
out/
dist/
.vscode/
.idea/
*.iml
.DS_Store
*.sublime-project
*.sublime-workspace
.history/